@{
    ViewBag.Title = "後台首頁";
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
}

<main>
    <div class="container">
        <section class="backImage">
            <div class="filter"></div>
            <h3>
            </h3>
        </section>
    </div>

</main>
